.numbers {
  margin-top: 35px;

  .page-main__colored-block {
    padding-top: 3.5vw;
    padding-bottom: 3.5vw;
    margin-bottom: 0;
  }

  .page-main__colored-block p {
    font-family: "Bebas Neue";
    font-size: 1.33em;
    line-height: 1;
    text-transform: uppercase;
    color: #404a79;
    letter-spacing: 0.6px;
    padding-right: 12.5vw;
  }

  .page-main__colored-block ul {
    font-size: 1.33em;
    line-height: 1.25;
    margin-top: 40px;
    margin-right: 20.8vw;

    li {
      text-align: right;
      margin-bottom: 0;
      letter-spacing: 2px;

      &:first-child {
        margin-right: -21px;
      }
    }
  }

  button {
    display: block;
    border: none;
    background-color: transparent;
    outline: none;
    width: fit-content;
    height: auto;
    margin-top: 37px;
    margin-left: auto;
    margin-right: 48px;
    font-size: 1em;
  }

  span {
    font-size: 0.83em;
    line-height: 1.6;
    color: #cab128;
    letter-spacing: 1px;
  }
}
