.result {
  margin-right: 17.5vw;
  margin-left: 17.5vw;
  margin-top: 50px;
  border-width: 1px;
  border-color: rgb(188, 192, 193);
  border-style: solid;
  padding: 20px;

  p {
    position: relative;
    width: 40%;
    font-size: 24px;
  }
}

.result p:nth-child(1) {
  left: 10px;
}

.result p:nth-child(2) {
  left: 10%;
}

.result p:nth-child(3) {
  left: 20%;
}

.result p:nth-child(4) {
  left: 50%;
}

.result p:nth-child(5) {
  left: 60%;
}
