.result {
  width: 100%;
  margin-top: 50px;

  p {
    position: relative;
    width: 40%;
  }
}

.result p:nth-child(1) {
  left: 25px;
}

.result p:nth-child(2) {
  left: 50%;
}

.result p:nth-child(3) {
  left: 20%;
}

.result p:nth-child(4) {
  left: 60%;
}

.result p:nth-child(5) {
  left: 10px;
}
