.result {
  margin: 0 auto;
  margin-top: 50px;
}

.result p:nth-child(1) {
  margin-left: 10px;
}

.result p:nth-child(2) {
  margin-left: 250px;
}

.result p:nth-child(3) {
  margin-left: 90px;
}

.result p:nth-child(4) {
  margin-left: 450px;
}
