.window {
  margin: 0 auto;
  width: 500px;
  margin-top: 50px;

}

.window-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.window input {
  width: 80px;
}

.window .buttons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
}

.window .buttons button {
  margin-right: 15px;
}
