html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 24px;
  line-height: 1;
  color: #464649;

  @media (max-width: 1024px) {
    font-size: 20px;
  }

  @media (max-width: 500px) {
    font-size: 18px;
  }
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

a {
  transition: opacity 0.3s;
}
